<h1>Editing qualificacao</h1>
<div class="qualificacaos">
<%= render "form", qualificacao: @qualificacao %>

<br>

<div  >

</div>
  <%= link_to "Cancelar", @qualificacao %> 
</div>

  <h1 class="new">
  <%= link_to "Voltar", restaurantes_path %>
  </h1>