* {
    font-family: Arial;    
}

.restaurantes, .qualificacaos {
    display: inline-block;
    padding: 0px 10px 10px 10px;
    margin: 5px;
    float: left;
    border: 3px solid #3e3661;
    border-radius: 10px;
    min-width: 110px; 
}

.restaurantes p , .qualificacaos p {
    font-size:16px;
}

.qualificacaos_container {  
    max-width: 233px;
    border-top: 3px solid #3e3661;  
    border-bottom: 3px solid #3e3661;
    border-radius: 10px;     
    height: 300px;
    overflow-x: overlay;
}

.index {
    height: 210px;    
}

.header {
    border: 3px solid #3e3661;
    width: 90%;
    border-radius: 10px;
    padding:10px;
}

.new {
    background-color:auto;
    position: absolute;
    right: 10%;
    top:80px;
}

input[type=submit], button{
    background: none;
    border: none;  
    text-transform: uppercase;    
    margin:5px;
    margin-left:0px;
    border: 3px solid #3e3661;   
    border-radius: 10px;  
    padding:10px;             
}
input[type=submit]:hover {
   color:#3e3661;    
}
input, textarea, select {
    margin:5px;
    margin-left:0px;
    border: 3px solid #3e3661;   
    border-radius: 10px;  
    padding:5px;       
    background: none;
}

a {
    text-decoration: auto;
    color:grey;
}   
.star {
    width: 100px;
    height: 14px;
    background: url(stars.png), no-repeat;        
    background-size: 100%;
    background-position-x: -7px;
}

#star0 {       
    background-position-y: 19px;
}
#star1 {       
    background-position-y: 34px;
}
#star2 {       
    background-position-y: 49px;
}
#star3 {       
    background-position-y: 64px;
}  
#star4 {       
    background-position-y: 79px;
}   
#star5 {       
    background-position-y: 94px;
} 

::-webkit-scrollbar {

    width:7px;
    border-radius:10px;

}

::-webkit-scrollbar-thumb:hover {

    background:#3e3661;

}   

::-webkit-scrollbar-thumb {

    background:white;
    border-radius:10px;
    border:solid 1px rgba(0,0,0,0.25);


}
    
::-webkit-scrollbar-track {

    border-radius:10px;
    box-shadow:inset 0px 0px 5px rgba(0,0,0,0.25);

}